Source: 405Coin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@405Coin.org>
Uploaders: Holger Schinzel <holger@405Coin.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.47),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.405Coin.org/
Vcs-Git: git://github.com/raptor3um/405Coin.git
Vcs-Browser: https://github.com/raptor3um/405Coin

Package: 405Coind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 405Coin is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. 405Coin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. 405Coin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, 405Coind, and the CLI tool
 405Coin-cli to interact with the daemon.

Package: 405Coin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 405Coin is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. 405Coin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. 405Coin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides 405Coin-Qt, a GUI for 405Coin based on Qt.
